ndc_schemas/25.2/AirlineProfileRQ/IATA_AirlineProfileRQ.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.iata.org/IATA/2015/EASD/00/IATA_OffersAndOrdersMessage" xmlns:cns="http://www.iata.org/IATA/2015/EASD/00/IATA_OffersAndOrdersCommonTypes" elementFormDefault="qualified" targetNamespace="http://www.iata.org/IATA/2015/EASD/00/IATA_OffersAndOrdersMessage" version="7.001">
  <xs:import namespace="http://www.iata.org/IATA/2015/EASD/00/IATA_OffersAndOrdersCommonTypes" schemaLocation="IATA_AirlineProfileRQ_CommonTypes.xsd"/>
  <xs:element name="IATA_AirlineProfileRQ">
    <xs:annotation>
      <xs:documentation>Request from an Airline Profile Sender to an Airline Profile Receiver to get one or more Airlines' Profiles.
The Airline Profile schemas provide the ability for an Airline to communicate information to the Seller on a periodic basis with general information about the products and Services, or about that Airline.
With shopping requests, the Airline Profile provides information about what it is willing to receive and has the capability to respond to. These schemas are a way for an Airline to manage the volume of requests they receive and reduce queries it cannot fulfil.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="0" name="AugmentationPoint" type="cns:AugmentationPointType">
          <xs:annotation>
            <xs:documentation>Implementer-Augmented Structure.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element maxOccurs="1" minOccurs="1" name="DistributionChain" type="cns:DistributionChainType">
          <xs:annotation>
            <xs:documentation>An instance of a distribution channel. That is, the set of organizations involved in the development of the current transaction.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element maxOccurs="1" minOccurs="0" name="PayloadAttributes" type="cns:IATA_PayloadStandardAttributesType">
          <xs:annotation>
            <xs:documentation>IATA standard payload attributes.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element maxOccurs="1" minOccurs="0" name="POS" type="cns:POS_Type">
          <xs:annotation>
            <xs:documentation>Point of Sale information.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element maxOccurs="1" minOccurs="1" name="Request" type="cns:AirlineProfileRequestType">
          <xs:annotation>
            <xs:documentation>AirlineProfileRQ request information.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>