ndc_schemas/21.4/PaymentClearanceListRS/IATA_PaymentClearanceListRS.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.iata.org/IATA/2015/00/2021.4/IATA_PaymentClearanceListRS" xmlns:cns="http://www.iata.org/IATA/2015/00/2021.4/IATA_PaymentClearanceCommonTypes" elementFormDefault="qualified" targetNamespace="http://www.iata.org/IATA/2015/00/2021.4/IATA_PaymentClearanceListRS" version="2.000">
  <xs:import namespace="http://www.iata.org/IATA/2015/00/2021.4/IATA_PaymentClearanceCommonTypes" schemaLocation="IATA_PaymentClearanceListRS_CommonTypes.xsd"/>
  <xs:element name="IATA_PaymentClearanceListRS">
    <xs:annotation>
      <xs:documentation>The ClearanceList transaction set retrieves a list of Clearances that match one or more search criteria.
This clearance related message is about the flow of money and it cannot, under any circumstances, be used, treated or considered as legal invoice.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:choice maxOccurs="1" minOccurs="1">
          <xs:element maxOccurs="unbounded" minOccurs="1" name="Clearance" type="cns:ClearanceListResponseType">
            <xs:annotation>
              <xs:documentation>the delivery of funds from one party - payer- to another party - the payee - to fulfil contractual obligations, i.e. commitment between the two parties.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="1" name="Error" type="cns:ErrorType">
            <xs:annotation>
              <xs:documentation>Contains information related to errors detected during processing of the preceding request.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:choice>
        <xs:element maxOccurs="1" minOccurs="0" name="PayloadStandardAttributes" type="cns:IATA_PayloadStandardAttributesType">
          <xs:annotation>
            <xs:documentation>The IATA_PayloadStdAttributes defines the standard attributes that appear on the root element for all IATA payloads.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>