ndc_schemas/24.3/OrderSalesInfoAccountingDocNotifRQ/IATA_OrderSalesInfoAccountingDocNotifRQ.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.iata.org/IATA/2015/EASD/00/IATA_OffersAndOrdersMessage" xmlns:cns="http://www.iata.org/IATA/2015/EASD/00/IATA_OffersAndOrdersCommonTypes" elementFormDefault="qualified" targetNamespace="http://www.iata.org/IATA/2015/EASD/00/IATA_OffersAndOrdersMessage" version="5.006">
  <xs:import namespace="http://www.iata.org/IATA/2015/EASD/00/IATA_OffersAndOrdersCommonTypes" schemaLocation="IATA_OrderSalesInfoAccountingDocNotifRQ_CommonTypes.xsd"/>
  <xs:element name="IATA_OrderSalesInfoAccountingDocNotifRQ">
    <xs:annotation>
      <xs:documentation>A push message from an Airline OM to an Airline Accounting, with all information about the Order required by the accounting such as the status of the Order and Services, the price charged to the Customer, Payment information, internal values per Service etc.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="0" name="AugmentationPoint" type="cns:AugmentationPointType">
          <xs:annotation>
            <xs:documentation>Implementer-Augmented Structure.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element maxOccurs="1" minOccurs="1" name="DistributionChain" type="cns:DistributionChainType">
          <xs:annotation>
            <xs:documentation>An instance of a distribution channel. That is, the set of organizations involved in the development of the current transaction.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element maxOccurs="1" minOccurs="0" name="PayloadAttributes" type="cns:IATA_PayloadStandardAttributesType">
          <xs:annotation>
            <xs:documentation>IATA standard payload attributes.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element maxOccurs="1" minOccurs="1" name="Request" type="cns:OrderSalesInfoAccountingDocNotifRequestType">
          <xs:annotation>
            <xs:documentation>OrderSalesInfoAccountingDocNotif Request information.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>