ndc_schemas/25.4/OrderReshopRS/IATA_OrderReshopRS.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.iata.org/IATA/2015/EASD/00/IATA_OffersAndOrdersMessage" xmlns:cns="http://www.iata.org/IATA/2015/EASD/00/IATA_OffersAndOrdersCommonTypes" elementFormDefault="qualified" targetNamespace="http://www.iata.org/IATA/2015/EASD/00/IATA_OffersAndOrdersMessage" version="8.005">
  <xs:import namespace="http://www.iata.org/IATA/2015/EASD/00/IATA_OffersAndOrdersCommonTypes" schemaLocation="IATA_OrderReshopRS_CommonTypes.xsd"/>
  <xs:element name="IATA_OrderReshopRS">
    <xs:annotation>
      <xs:documentation>The OrderReshop transaction set passes new shopping requests to an airline to replace existing specified order or order items in an Order or for new shopping requests to add to an existing Order. Airline responds with product offers within the context of the existing Order.
There is no change to the Order or Order Items, in response to a Reshop request - typically, the Reshop response will be followed by an OrderChangeRQ or OrderCancelRQ transaction, to commit the re-shop offer.
In the response, the Airline can provide exact instructions as to what actions can finally be executed, as a solution to the initially requested action.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:choice maxOccurs="1" minOccurs="1">
          <xs:element maxOccurs="unbounded" minOccurs="1" name="Error" type="cns:ErrorType">
            <xs:annotation>
              <xs:documentation>Contains information related to errors detected during processing of the preceding request.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="1" name="Response" type="cns:OrderReshopResponseType">
            <xs:annotation>
              <xs:documentation>Order Reshop RS response information.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:choice>
        <xs:element maxOccurs="1" minOccurs="0" name="AugmentationPoint" type="cns:AugmentationPointType">
          <xs:annotation>
            <xs:documentation>Implementer-Augmented Structure.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element maxOccurs="1" minOccurs="0" name="DistributionChain" type="cns:DistributionChainType">
          <xs:annotation>
            <xs:documentation>An instance of a distribution channel, which is a chain of intermediaries through which a good or service passes until it reaches the final buyer or the end consumer.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element maxOccurs="1" minOccurs="0" name="PayloadAttributes" type="cns:IATA_PayloadStandardAttributesType">
          <xs:annotation>
            <xs:documentation>IATA Standard Payload Attributes</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>