ndc_schemas/24.3/AirlineProfileNotifRQ/IATA_AirlineProfileNotifRQ_CommonTypes.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cns="http://www.iata.org/IATA/2015/EASD/00/IATA_OffersAndOrdersCommonTypes" elementFormDefault="qualified" targetNamespace="http://www.iata.org/IATA/2015/EASD/00/IATA_OffersAndOrdersCommonTypes" version="1.0">
  <xs:complexType name="AddlNameType">
    <xs:annotation>
      <xs:documentation>An additional name type.
 The structure consists of a generic proper name with associated type.
 Examples:
 Name - 'Smith'.
 Name Type Code - 'Fathers Surname'.
 Name - 'Park'.
 Name Type Code - 'Mothers Surname'.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="Name" type="cns:ProperNameType">
        <xs:annotation>
          <xs:documentation>A proper name defined by the associated name type code and further clarified by the description text.
 Name - 'Smith'.
 Name Type Code - 'Father Surname'.
 Name - 'Park'.
 Name Type Code - 'Mother Surname'.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="NameTypeCode" type="cns:AddlNameTypeCodeType">
        <xs:annotation>
          <xs:documentation>The type of proper name
 Examples:
 'Father Surname'.
 'Mother Surname'.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AddlNameTypeCodeContentType">
    <xs:annotation>
      <xs:documentation>This will include a codelist with defined types of additional names. {codeListAgencyName}IATA AIDM{/codeListAgencyName} </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Father Surname">
        <xs:annotation>
          <xs:documentation>This is the individuals fathers name surname which is part of the individuals full surname.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Mother Surname">
        <xs:annotation>
          <xs:documentation>This is the individuals mothers name surname which is part of the individuals full surname.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AddlNameTypeCodeType">
    <xs:annotation>
      <xs:documentation>This will define allowable additional name types.
 'Father Surname'
 'Mother Surname'</xs:documentation>
    </xs:annotation>
    <xs:restriction base="cns:AddlNameTypeCodeContentType"/>
  </xs:simpleType>
  <xs:complexType name="AggregatorType">
    <xs:annotation>
      <xs:documentation>An entity who distributes a Seller's shopping request to multiple Airlines and aggregates subsequent responses.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="AggregatorID" type="cns:ID_Type">
        <xs:annotation>
          <xs:documentation>Identifier of the aggregator organization.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ContactInfo" type="cns:ContactInfoType">
        <xs:annotation>
          <xs:documentation>The electronic or geographic address which a party has provided as the contact channel. For example, contact email, contact postal address, contact phone number.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="Name" type="cns:ProperNameType">
        <xs:annotation>
          <xs:documentation>Aggregator Name.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AirlineDesigCodeContentType">
    <xs:annotation>
      <xs:documentation>The codelist contents of IATA Resolution 762 airline codes, or of ICAO airline codes {codeListAgencyName}IATA or ICAO{/codeListAgencyName} {codeListName}Resolution 762 Airline Codes or ICAO Airline Codes{/codeListName} </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:simpleType name="AirlineDesigCodeType">
    <xs:annotation>
      <xs:documentation>Either the IATA-defined 2-character code or the ICAO-defined 3-character code of an airline, as per the length of the value.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="cns:AirlineDesigCodeContentType"/>
  </xs:simpleType>
  <xs:complexType name="AirlineProfileDataItemType">
    <xs:annotation>
      <xs:documentation>Single set of data elements contained within the airline profile.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="ActionTypeCode" type="cns:CodeType">
        <xs:annotation>
          <xs:documentation>Action Type Code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="OfferFilterCriteria" type="cns:OfferFilterCriteriaType">
        <xs:annotation>
          <xs:documentation>A set of filter criteria based on offer preferences/criteria.
 Technical specialized to use a choice.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="POS_FilterCriteria" type="cns:POS_FilterCriteriaType">
        <xs:annotation>
          <xs:documentation>Criteria used to filter results based on point of sale information.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="POS_GeographicFilterCriteria" type="cns:GeographicFilterCriteriaType">
        <xs:annotation>
          <xs:documentation>Criteria used to filter results based on geographic preferences, including Area, State, City, Airport, or Geospatial information.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="SeqNumber" type="cns:NumberType">
        <xs:annotation>
          <xs:documentation>Global sequence number of this record in the Airline Profile.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ServiceCriteria" type="cns:ServiceCriteriaType">
        <xs:annotation>
          <xs:documentation>Reason for Issuance Group and Subgroup code(s) that specify the requested categories of Optional Services to be returned in the results.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AirlineProfileNotifType">
    <xs:annotation>
      <xs:documentation>Notification payload information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="AirlineProfile" type="cns:AirlineProfileType">
        <xs:annotation>
          <xs:documentation>Distribution profile of an airline which describes which types of shopping requests may be processed by a particular carrier.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AirlineProfileType">
    <xs:annotation>
      <xs:documentation>Distribution profile of an airline which describes which types of shopping requests may be processed by a particular carrier.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="AirlineProfileDataItem" type="cns:AirlineProfileDataItemType">
        <xs:annotation>
          <xs:documentation>Single set of data elements contained within the airline profile.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="AirlineProfileURL" type="cns:URI_Type">
        <xs:annotation>
          <xs:documentation>Link to Airline Profile Source File. Alows a large Airline Profile file to be distributed over FTP, FTPS, as agreed bilaterally with Profile Owner. Note, this element should not be used if explicitly providing the Airline Profile Data Items.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="AssociatedMediaURL" type="cns:URI_Type">
        <xs:annotation>
          <xs:documentation>URL used to retrieve media associated with the airline profile, including the airline logo.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="AssociationMembershipText" type="cns:TextType">
        <xs:annotation>
          <xs:documentation>Free text description of group or alliance for which the profile is related. E.g. 'Member of Star Alliance'.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ContactInfo" type="cns:ContactInfoType">
        <xs:annotation>
          <xs:documentation>The electronic or geographic address which a party has provided as the contact channel. For example, contact email, contact postal address, contact phone number.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="ProfileOwner" type="cns:CarrierType">
        <xs:annotation>
          <xs:documentation>The organization which carries the passenger, baggage, or goods, and/or commits to delivering the carriage as well as any related services such as issuance of ticket, creation of Order, etc.
 Business Identifier Fields:
 - Airline Designator Code
 - Duplicate Designator Indicator
 - Name</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="SupportedMessageInfo" type="cns:KeyValuePropertyType">
        <xs:annotation>
          <xs:documentation>Contextual information to further describe something using a key-value pair.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AugmentationPointType">
    <xs:annotation>
      <xs:documentation>Implementer-Augmented Structure.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:any maxOccurs="unbounded" minOccurs="1" namespace="##other" processContents="lax"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CarrierType">
    <xs:annotation>
      <xs:documentation>The organization which carries the passenger, baggage, or goods, and/or commits to delivering the carriage as well as any related services such as issuance of ticket, creation of Order, etc.
 Business Identifier Fields:
 - Airline Designator Code
 - Duplicate Designator Indicator
 - Name</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="AirlineDesigCode" type="cns:AirlineDesigCodeType">
        <xs:annotation>
          <xs:documentation>Airline code assigned to a carrier. Either ICAO-defined 3-character code or IATA-defined 2-character code.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="DuplicateDesigInd" type="cns:IndType">
        <xs:annotation>
          <xs:documentation>Indicates that the IATA Airline Designator is a duplicate code shared by multiple airlines. To identify the airline - in this case - its name must be specified in addition to the designator.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="Name" type="cns:NameType">
        <xs:annotation>
          <xs:documentation>Commercial name of the carrier.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="CodeType">
    <xs:annotation>
      <xs:documentation>A code is a character string of letters, numbers, special characters (except escape sequences), and symbols.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="ContactInfoType">
    <xs:annotation>
      <xs:documentation>The electronic or geographic address which a party has provided as the contact channel. For example, contact email, contact postal address, contact phone number.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="ContactInfoID" type="cns:ID_Type">
        <xs:annotation>
          <xs:documentation>Uniquely Identifies a set of Contact Information, within the context of one message.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="99" minOccurs="0" name="ContactPurposeText" type="cns:TextType">
        <xs:annotation>
          <xs:documentation>to identify the contact purpose (PADIS code list 3299)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="ContactRefusedInd" type="cns:IndType">
        <xs:annotation>
          <xs:documentation>When TRUE, Contact Information was refused to be provided.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="EmailAddress" type="cns:EmailAddressType">
        <xs:annotation>
          <xs:documentation>The email address which should be used for contact purposes.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="Individual" type="cns:IndividualType">
        <xs:annotation>
          <xs:documentation>A single human being as distinct from a group, class, or family.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="IndividualRefID" type="cns:ID_Type">
        <xs:annotation>
          <xs:documentation>Reference to Individual instance(s)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="OtherAddress" type="cns:OtherAddressType">
        <xs:annotation>
          <xs:documentation>Other Contact Method information. E.g. web site URL, social media handle.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="PaxSegmentRefID" type="cns:ID_Type">
        <xs:annotation>
          <xs:documentation>Uniquely identifies a Passenger Segment within the context of one message.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Phone" type="cns:PhoneType">
        <xs:annotation>
          <xs:documentation>A telephone number is a sequence of digits assigned to a fixed-line telephone subscriber station connected to a telephone line or to a wireless electronic telephony device, such as a radio telephone or a mobile telephone, or to other devices for data transmission via the public switched telephone network (PSTN) or other private networks.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="PostalAddress" type="cns:PostalAddressType">
        <xs:annotation>
          <xs:documentation>Natural or physical address used for postal service. May be a building address, airport address, etc.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="RelationshipToPax" type="cns:TextType">
        <xs:annotation>
          <xs:documentation>Relationship to the passenger e.g. used for when this individual is an emergency contact</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="CountryCodeContentType">
    <xs:annotation>
      <xs:documentation>The code list of ISO 3166 two-alpha Country Codes </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:simpleType name="CountryCodeType">
    <xs:annotation>
      <xs:documentation>ISO Country Code.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="cns:CountryCodeContentType"/>
  </xs:simpleType>
  <xs:simpleType name="CountryDialingCodeContentType">
    <xs:annotation>
      <xs:documentation>Enumeration set for the Country Dialing Code BDT. </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:simpleType name="CountryDialingCodeType">
    <xs:annotation>
      <xs:documentation>Additional BDT to specify the numeric telephone dialing prefixes for the member countries of the International Telecommunication Union (ITU).</xs:documentation>
    </xs:annotation>
    <xs:restriction base="cns:CountryDialingCodeContentType"/>
  </xs:simpleType>
  <xs:simpleType name="CountrySubDivisionCodeContentType">
    <xs:annotation>
      <xs:documentation>The list of Country Sub-Division Codes in ISO 3166-2, or referenced from ISO 3166-2 for the specific countries. Max-3-char sub-division code without preceding country code. </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:simpleType name="CountrySubDivisionCodeType">
    <xs:annotation>
      <xs:documentation>ISO 3166-2 Country Sub-Division Code. Max-3-char sub-division code without preceding country code. E.g. 'AZ' for Arizona, 'BY' for Bavaria region in Germany.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="cns:CountrySubDivisionCodeContentType"/>
  </xs:simpleType>
  <xs:simpleType name="DateTimeType">
    <xs:annotation>
      <xs:documentation>A date time identifies a date and time of day to various common resolutions: year, month, week, day, hour, minute, second, and fraction of second.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>
  <xs:simpleType name="DateType">
    <xs:annotation>
      <xs:documentation>A date is a Gregorian calendar representation in various common resolutions: year, month, week, day.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:date"/>
  </xs:simpleType>
  <xs:complexType name="DistributionChainLinkType">
    <xs:annotation>
      <xs:documentation>An organization playing a participating role in an instance of a distribution channel.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="ContactInfo" type="cns:ContactInfoType">
        <xs:annotation>
          <xs:documentation>The electronic or geographic address which a party has provided as the contact channel. For example, contact email, contact postal address, contact phone number.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="Ordinal" type="cns:OrdinalType">
        <xs:annotation>
          <xs:documentation>The number defining the position of the distribution chain link in the distribution chain indicating the order in which the organization participated.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="OrgRole" type="cns:DistributionChainRoleCodeType">
        <xs:annotation>
          <xs:documentation>The distribution chain role performed by the participating organization. That is, the Seller (end buyer facing), the Distributor (an intermediary), or the Carrier (the Responsible Supplier).
 For clarity this is different to the business model used by the participating organization, and the Nature of Business typically registered during incorporation as one of the organization's business activities.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="ParticipatingOrg" type="cns:ParticipatingOrgType">
        <xs:annotation>
          <xs:documentation>An organized structure set up for a particular purpose, such as a business, government body, department, charity, or financial institution.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="SalesAgent" type="cns:SalesAgentType">
        <xs:annotation>
          <xs:documentation>An individual conducting sales activities on behalf of a sales branch or organization.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="SalesBranch" type="cns:SalesBranchType">
        <xs:annotation>
          <xs:documentation>An organizational unit with responsibility over sales in a market, for a product or service and under any other specified criteria.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="VerifiablePresentation" type="cns:TextType">
        <xs:annotation>
          <xs:documentation>The root mode of the IATA Verifiable Presentation schema structure based on w3c Verifiable Credential Schema</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="DistributionChainRoleCodeContentType">
    <xs:annotation>
      <xs:documentation>The list of allowable roles in a distribution chain. {codeListAgencyName}IATA{/codeListAgencyName} {codeListName}PADIS Codeset 9873{/codeListName} </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Carrier">
        <xs:annotation>
          <xs:documentation>An organization which carries the passenger, baggage, or goods, and/or commits to delivering the carriage.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Distributor">
        <xs:annotation>
          <xs:documentation>An organization that provides a distribution capability such as a certain type of Consolidator, an Aggregator, more generally an intermediary.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Seller">
        <xs:annotation>
          <xs:documentation>An organization that offers a shopping capability to a shopper.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DistributionChainRoleCodeType">
    <xs:annotation>
      <xs:documentation>The list of allowable roles in a distribution chain.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="cns:DistributionChainRoleCodeContentType"/>
  </xs:simpleType>
  <xs:complexType name="DistributionChainType">
    <xs:annotation>
      <xs:documentation>An instance of a distribution channel, which is a chain of intermediaries through which a good or service passes until it reaches the final buyer or the end consumer.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="1" name="DistributionChainLink" type="cns:DistributionChainLinkType">
        <xs:annotation>
          <xs:documentation>An organization playing a participating role in an instance of a distribution channel.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EmailAddressType">
    <xs:annotation>
      <xs:documentation>The email address which should be used for contact purposes.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="ContactTypeText" type="cns:TextType">
        <xs:annotation>
          <xs:documentation>PADIS code list: Contact Type (to identify the technical contact type information)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="EmailAddressText" type="cns:TextType">
        <xs:annotation>
          <xs:documentation>The email address which should be used for contact purposes.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="GenderCodeContentType">
    <xs:annotation>
      <xs:documentation>Enumeration set for Gender Code. {codeListAgencyName}ICAO{/codeListAgencyName} {codeListName}Document 9303 Sex of the holder{/codeListName} </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="F">
        <xs:annotation>
          <xs:documentation>Female</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="M">
        <xs:annotation>
          <xs:documentation>Male</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="U">
        <xs:annotation>
          <xs:documentation>Unknown</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="X">
        <xs:annotation>
          <xs:documentation>Unspecified</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="GenderCodeType">
    <xs:annotation>
      <xs:documentation>Additional BDT to specify Gender code.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="cns:GenderCodeContentType"/>
  </xs:simpleType>
  <xs:complexType name="GeographicFilterCriteriaType">
    <xs:annotation>
      <xs:documentation>Criteria used to filter results based on geographic preferences, including Area, State, City, Airport, or Geospatial information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="AreaCodeText" type="cns:TextType">
        <xs:annotation>
          <xs:documentation>Valid area values include 1 = Western Hemisphere 2 = Europe, Africa, and the Near East 3 = Far East, Australia, and Pacific</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="CoordRadiusMeasure" type="cns:MeasureType">
        <xs:annotation>
          <xs:documentation>Radius to be used in conjunction with associated Geospatial coordinates.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="CountryCode" type="cns:CountryCodeType">
        <xs:annotation>
          <xs:documentation>ISO Country Code (can be extended by bilateral agreement in case of exceptions, e.g. Kosovo). Examples: US, FR.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="CountrySubDivisionCode" type="cns:CountrySubDivisionCodeType">
        <xs:annotation>
          <xs:documentation>The ISO code identifying this country sub-division within a given country. E.g. 'AZ' for state of Arizona (US), 'BY' for region of Bavaria (Germany).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="GeospatialLocation" type="cns:GeospatialLocationType">
        <xs:annotation>
          <xs:documentation>A location with a spatial attribute, probably on the surface of the earth. For example: Longitude and Latitude</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="IATA_LocationCode" type="cns:IATA_LocationCodeType">
        <xs:annotation>
          <xs:documentation>IATA defined code identifying a city or station.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GeospatialLocationType">
    <xs:annotation>
      <xs:documentation>A location with a spatial attribute, probably on the surface of the earth. For example: Longitude and Latitude</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="NaturalAreaGeocode" type="cns:CodeType">
        <xs:annotation>
          <xs:documentation>Natural Area Geocode as defined by NAC Geographic Products Inc. Ex: 8KDB PGFD</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="PointElevationNumber" type="cns:NumberType">
        <xs:annotation>
          <xs:documentation>The number of the spatial location point elevation.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="PointLatitudeNumber" type="cns:NumberType">
        <xs:annotation>
          <xs:documentation>The number of the spatial location point latitude.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="PointLongitudeNumber" type="cns:NumberType">
        <xs:annotation>
          <xs:documentation>The number of the spatial location point longitude.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="IATA_LocationCodeContentType">
    <xs:annotation>
      <xs:documentation>Enumeration set for the Location Code BDT. {codeListAgencyName}IATA{/codeListAgencyName} {codeListName}Location code{/codeListName} {enumerationURI}http://www.iata.org/publications/Pages/code-search.aspx{/enumerationURI}</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:length value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="IATA_LocationCodeType">
    <xs:annotation>
      <xs:documentation>Additional BDT to specify the codeset which defines the IATA airport or city codes.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="cns:IATA_LocationCodeContentType"/>
  </xs:simpleType>
  <xs:complexType name="IATA_PayloadStandardAttributesType">
    <xs:annotation>
      <xs:documentation>The IATA_PayloadStdAttributes defines the standard attributes that appear on the root element for all IATA payloads.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="AltLangID" type="cns:ID_Type">
        <xs:annotation>
          <xs:documentation>Identifies the alternate language for a customer or message. The human language is identified by ISO 639 codes.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="CorrelationID" type="cns:ID_Type">
        <xs:annotation>
          <xs:documentation>Allow end-to-end correlation of log messages with the corresponding Web service message throughout the processing of the Web service message.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="PrimaryLangID" type="cns:ID_Type">
        <xs:annotation>
          <xs:documentation>Identifes the primary language preference for the message. The human language is identified by ISO 639 codes.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="RetransmissionInd" type="cns:IndType">
        <xs:annotation>
          <xs:documentation>When true, indicates the message is being re-sent after a failure. It is recommended that this attribute is used (i.e., set to true) only when a message is retransmitted.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="SeqNumber" type="cns:NumberType">
        <xs:annotation>
          <xs:documentation>Used to identify the sequence number of the transaction as assigned by the sending system; allows for an application to process messages in a certain order or to request a resynchronization of messages in the event that a system has been off-line and needs to retrieve messages that were missed.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="Timestamp" type="cns:DateTimeType">
        <xs:annotation>
          <xs:documentation>Indicates the creation date and time of the message in UTC.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="TrxID" type="cns:ID_Type">
        <xs:annotation>
          <xs:documentation>A unique identifier to relate all messages within a transaction (e.g. this would be sent in all request and response messages that are part of an on-going transaction).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="VersionNumber" type="cns:NumberType">
        <xs:annotation>
          <xs:documentation>For all IATA versioned messages, the version of the message is indicated by a decimal value.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ID_Type">
    <xs:annotation>
      <xs:documentation>An identifier is a character string used to uniquely identify one instance of an object within an identification scheme that is managed by an agency.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:simpleType name="IndType">
    <xs:annotation>
      <xs:documentation>An indicator is a list of two mutually exclusive Boolean values that express the only possible states of a property.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:boolean"/>
  </xs:simpleType>
  <xs:complexType name="IndividualType">
    <xs:annotation>
      <xs:documentation>A single human being as distinct from a group, class, or family.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="AddlName" type="cns:AddlNameType">
        <xs:annotation>
          <xs:documentation>An additional name type.
 The structure consists of a generic proper name with associated type.
 Examples:
 Name - 'Smith'.
 Name Type Code - 'Fathers Surname'.
 Name - 'Park'.
 Name Type Code - 'Mothers Surname'.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="Birthdate" type="cns:DateType">
        <xs:annotation>
          <xs:documentation>The date on which an individual was born.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="BirthplaceText" type="cns:TextType">
        <xs:annotation>
          <xs:documentation>Country Code where the Passenger was born (ISO 3166). For example: DE</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="GenderCode" type="cns:GenderCodeType">
        <xs:annotation>
          <xs:documentation>Gender of the individual. Refer to PADIS Codeset 6353.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="5" minOccurs="0" name="GivenName" type="cns:ProperNameType">
        <xs:annotation>
          <xs:documentation>A personal name given to the individual at birth and used before a family name. Also called first name. E.g. JOHN.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="IndividualID" type="cns:ID_Type">
        <xs:annotation>
          <xs:documentation>Uniquely Identifies an Individual within the context of one message.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="3" minOccurs="0" name="MiddleName" type="cns:ProperNameType">
        <xs:annotation>
          <xs:documentation>Individual's middle name or initial. E.g. G, GEORGE.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="SuffixName" type="cns:SupplementNameType">
        <xs:annotation>
          <xs:documentation> Individual's name suffixes and letters. Examples: Jr., Sr., III, Ret., Esq.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="Surname" type="cns:ProperNameType">
        <xs:annotation>
          <xs:documentation>Individual's hereditary name(s) common to all members of a family. Also known as family name or last name. E.g. SMITH. Excludes any potential suffix.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="TitleName" type="cns:SupplementNameType">
        <xs:annotation>
          <xs:documentation>A word such as Mr., Mrs., Miss or Dr that is used before an individual's name to indicate the gender, profession or marital status.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="KeyValuePropertyType">
    <xs:annotation>
      <xs:documentation>Contextual information to further describe something using a key-value pair.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="KeyText" type="cns:TextType">
        <xs:annotation>
          <xs:documentation>Name or ID of the Keyword.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="PrefLevel" type="cns:PrefLevelType">
        <xs:annotation>
          <xs:documentation>Information supporting a preference including preference level code (Examples: Preferred, Required or Exclude.).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="ValueText" type="cns:TextType">
        <xs:annotation>
          <xs:documentation>Value corresponding to the associated Keyword.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MeasureType">
    <xs:annotation>
      <xs:documentation>A measure is a numeric value determined by measuring an object along with the specified unit of measure.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="UnitCode" type="xs:token" use="optional">
          <xs:annotation>
            <xs:documentation>The type of unit of measure.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="NameType">
    <xs:annotation>
      <xs:documentation>A name is a word or phrase that constitutes the distinctive designation of a person, place, thing or concept</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:simpleType name="NumberType">
    <xs:annotation>
      <xs:documentation>A mathematical number that is assigned or is determined by calculation.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal"/>
  </xs:simpleType>
  <xs:complexType name="OfferFilterCriteriaChoiceType">
    <xs:annotation>
      <xs:documentation>Filters results based on offer preferences/criteria.</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element maxOccurs="1" minOccurs="1" name="OfferFilterCriteriawithOriginandDest" type="cns:OfferFilterCriteriawithOriginandDestType">
        <xs:annotation>
          <xs:documentation>A set of filter criteria based on offer preferences/criteria.
 Technical specialized to use just origin and destination points.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="TravelWithin" type="cns:GeographicFilterCriteriaType">
        <xs:annotation>
          <xs:documentation>Criteria used to filter results based on geographic preferences, including Area, State, City, Airport, or Geospatial information.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="OfferFilterCriteriaType">
    <xs:annotation>
      <xs:documentation>A set of filter criteria based on offer preferences/criteria.
 Technical specialized to use a choice.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="OfferFilterCriteriaChoice" type="cns:OfferFilterCriteriaChoiceType">
        <xs:annotation>
          <xs:documentation>Filters results based on offer preferences/criteria.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OfferFilterCriteriawithOriginandDestType">
    <xs:annotation>
      <xs:documentation>A set of filter criteria based on offer preferences/criteria.
 Technical specialized to use just origin and destination points.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="DirectionalIndText" type="cns:TextType">
        <xs:annotation>
          <xs:documentation>1 = From LOC 1 to LOC 2 2 = To LOC 1 from LOC 2 3 = Both</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="OfferDestPoint" type="cns:GeographicFilterCriteriaType">
        <xs:annotation>
          <xs:documentation>Criteria used to filter results based on geographic preferences, including Area, State, City, Airport, or Geospatial information.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="OfferOriginPoint" type="cns:GeographicFilterCriteriaType">
        <xs:annotation>
          <xs:documentation>Criteria used to filter results based on geographic preferences, including Area, State, City, Airport, or Geospatial information.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="OrdinalType">
    <xs:annotation>
      <xs:documentation>An ordinal number is an assigned mathematical number that represents order or sequence.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer"/>
  </xs:simpleType>
  <xs:complexType name="OtherAddressType">
    <xs:annotation>
      <xs:documentation>Other Contact Method information. E.g. web site URL, social media handle.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="ContactTypeText" type="cns:TextType">
        <xs:annotation>
          <xs:documentation>PADIS code list: Contact Type (to identify the technical contact type information)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="OtherAddressText" type="cns:TextType">
        <xs:annotation>
          <xs:documentation>Other Contact Method Value. Example: www.marketingsite.com</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POS_FilterCriteriaType">
    <xs:annotation>
      <xs:documentation>Criteria used to filter results based on point of sale information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="Aggregator" type="cns:AggregatorType">
        <xs:annotation>
          <xs:documentation>An entity who distributes a Seller's shopping request to multiple Airlines and aggregates subsequent responses.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="POS_CodeText" type="cns:TextType">
        <xs:annotation>
          <xs:documentation>The code or identifier of the entity defined by the Point of Sale Type Code (e.g. CRS code, Airline specific code, etc.).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="POS_TypeCode" type="cns:POS_TypeCodeType">
        <xs:annotation>
          <xs:documentation>Further defines the types of Point of Sale</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="TravelAgencyInd" type="cns:IndType">
        <xs:annotation>
          <xs:documentation>Unique Agency Seller ID. Example: CTRV</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="POS_TypeCodeContentType">
    <xs:annotation>
      <xs:documentation>Enumeration values of Point of Sale Code. {codeListAgencyName}IATA{/codeListAgencyName} {codeListIdentifier}PADIS 9800{/codeListIdentifier} </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="A">
        <xs:annotation>
          <xs:documentation>Airline Specific Codes</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="H">
        <xs:annotation>
          <xs:documentation>Home IATA Agency No.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="I">
        <xs:annotation>
          <xs:documentation>IATA Travel Agency No.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="L">
        <xs:annotation>
          <xs:documentation>LNIATA Number (CRT Address)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="T">
        <xs:annotation>
          <xs:documentation>Pseudo Code/Travel Agency Code</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="U">
        <xs:annotation>
          <xs:documentation>Home Travel Agency Code</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="V">
        <xs:annotation>
          <xs:documentation>CRS/CXR Department Code</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="X">
        <xs:annotation>
          <xs:documentation>Department/Identifier</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="POS_TypeCodeType">
    <xs:annotation>
      <xs:documentation>Further defines the type of PointOfSaleCode.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="cns:POS_TypeCodeContentType"/>
  </xs:simpleType>
  <xs:complexType name="ParticipatingOrgType">
    <xs:annotation>
      <xs:documentation>An organized structure set up for a particular purpose, such as a business, government body, department, charity, or financial institution.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="Name" type="cns:NameType">
        <xs:annotation>
          <xs:documentation>Name of the organization</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="OrgID" type="cns:ID_Type">
        <xs:annotation>
          <xs:documentation>Organization code or identifier.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PhoneType">
    <xs:annotation>
      <xs:documentation>A telephone number is a sequence of digits assigned to a fixed-line telephone subscriber station connected to a telephone line or to a wireless electronic telephony device, such as a radio telephone or a mobile telephone, or to other devices for data transmission via the public switched telephone network (PSTN) or other private networks.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="AreaCodeNumber" type="cns:TextType">
        <xs:annotation>
          <xs:documentation>Phone number area code. Example: 813
 Note: The phone number can be put unstructured into the phone element or can be put structured into country dialing code, area code, phone number and extension.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="ContactTypeText" type="cns:TextType">
        <xs:annotation>
          <xs:documentation>PADIS code list: Contact Type (to identify the technical contact type information)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="CountryDialingCode" type="cns:CountryDialingCodeType">
        <xs:annotation>
          <xs:documentation>Numeric telephone dialing prefixes for the member countries of the International Telecommunication Union (ITU). Note: The phone number can be put unstructured into the phone element or can be put structured into country dialing code, area code, phone number and extension.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="ExtensionNumber" type="cns:TextType">
        <xs:annotation>
          <xs:documentation>Phone extension number. Example: 1234
 Note: The phone number can be put unstructured into the phone element or can be put structured into country dialing code, area code, phone number and extension.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="PhoneNumber" type="cns:TextType">
        <xs:annotation>
          <xs:documentation>Phone number text.
 Examples:
 +1 999-999-9999 ext 1234, 
 617-9976
 Note: This may be a simple, un-structured phone number, such as +01 999-999-9999 ext 1234 or combined with additional attributes country dialing code, area code and extension to create a structured phone number.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PostalAddressType">
    <xs:annotation>
      <xs:documentation>Natural or physical address used for postal service. May be a building address, airport address, etc.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="BuildingRoomText" type="cns:TextType">
        <xs:annotation>
          <xs:documentation>Additional address information including building name, room, apartment, or suite number.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="CityName" type="cns:NameType">
        <xs:annotation>
          <xs:documentation>The name, expressed as text, of the city, town or village.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="ContactTypeText" type="cns:TextType">
        <xs:annotation>
          <xs:documentation>PADIS code list: Contact Type (to identify the technical contact type information)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="CountryCode" type="cns:CountryCodeType">
        <xs:annotation>
          <xs:documentation>ISO Country Code (can be extended by bilateral agreement in case of exceptions, e.g. Kosovo). Examples: US, FR.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="CountryName" type="cns:ProperNameType">
        <xs:annotation>
          <xs:documentation>The name, expressed as text, of the country.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="CountrySubDivisionName" type="cns:ProperNameType">
        <xs:annotation>
          <xs:documentation>The name, expressed as text, of the sub-division of a country.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="PO_BoxCode" type="cns:CodeType">
        <xs:annotation>
          <xs:documentation>Post office box. Example: P.O. Box 21</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="PostalCode" type="cns:CodeType">
        <xs:annotation>
          <xs:documentation>Postal code. Examples: 11001, 11001-2345</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="2" minOccurs="0" name="StreetText" type="cns:TextType">
        <xs:annotation>
          <xs:documentation>Street name and number. Examples: Main Street, 100 Main Street</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="PrefLevelCodeContentType">
    <xs:annotation>
      <xs:documentation>Level of preference requested. Examples: Preferred, Required or Exclude </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Exclude">
        <xs:annotation>
          <xs:documentation>Exclude</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Preferred">
        <xs:annotation>
          <xs:documentation>Preferred</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Required">
        <xs:annotation>
          <xs:documentation>Required</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PrefLevelCodeType">
    <xs:annotation>
      <xs:documentation>Level of preference requested. Examples: Preferred, Required or Exclude.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="cns:PrefLevelCodeContentType"/>
  </xs:simpleType>
  <xs:complexType name="PrefLevelType">
    <xs:annotation>
      <xs:documentation>Information supporting a preference including preference level code (Examples: Preferred, Required or Exclude.).</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="PrefLevelCode" type="cns:PrefLevelCodeType">
        <xs:annotation>
          <xs:documentation>Level of preference requested. Examples: Preferred, Required or Exclude.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ProperNameType">
    <xs:annotation>
      <xs:documentation>BDT with value constraints for proper, regular names (e.g. Individual Surname, Individual First Name, Company Name, etc.).</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="1"/>
      <xs:maxLength value="64"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RFIC_CodeContentType">
    <xs:annotation>
      <xs:documentation>Enumeration values for Reason for Issuance codes. {codeListAgencyName}PADIS{/codeListAgencyName} {codeListName}Special condition{/codeListName} {codeListIdentifier}4183{/codeListIdentifier} </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9A-Z]{1,3}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RFIC_CodeType">
    <xs:annotation>
      <xs:documentation>Additional BDT to specify the reason for issuance code.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="cns:RFIC_CodeContentType"/>
  </xs:simpleType>
  <xs:simpleType name="RFISC_CodeContentType">
    <xs:annotation>
      <xs:documentation>Enumeration values for Reason for Issuance sub codes.
 Examples:
 0CC (First Checked Bag).
 0B1 (In-flight Entertainment).
 0BX (Lounge).
 0B3 (Meal/ Beverage).
 0B5 (Pre-reserved Seat Assignment).
 0G6 (Priority Boarding). {codeListAgencyName}ATPCo{/codeListAgencyName} {codeListName}Optional Services Industry Sub Codes{/codeListName} </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="RFISC_CodeType">
    <xs:annotation>
      <xs:documentation>Additional BDT to specify the reason for issuance sub code.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="cns:RFISC_CodeContentType"/>
  </xs:simpleType>
  <xs:complexType name="SalesAgentType">
    <xs:annotation>
      <xs:documentation>An individual conducting sales activities on behalf of a sales branch or organization.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="SalesAgentID" type="cns:ID_Type">
        <xs:annotation>
          <xs:documentation>The unique identifier of the sales agent. This value must be accompanied by the appropriate Sales Branch Identifier or Organization Identifier to ensure uniqueness.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SalesBranchType">
    <xs:annotation>
      <xs:documentation>An organizational unit with responsibility over sales in a market, for a product or service and under any other specified criteria.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="SalesBranchID" type="cns:ID_Type">
        <xs:annotation>
          <xs:documentation>The industry wide unique identifier of the sales branch. Commonly, a value from the Pseudo City Code may be used, or a bi-latterly agreed code. When the latter it must only be used between parties that hold an appropriate translation.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ServiceCriteriaType">
    <xs:annotation>
      <xs:documentation>Reason for Issuance Group and Subgroup code(s) that specify the requested categories of Optional Services to be returned in the results.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="IncludeInd" type="cns:IndType">
        <xs:annotation>
          <xs:documentation>When TRUE, specified service should be included in search results. When FALSE, exclude shopping results including the specified service.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="PrefLevel" type="cns:PrefLevelType">
        <xs:annotation>
          <xs:documentation>Information supporting a preference including preference level code (Examples: Preferred, Required or Exclude.).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="RFIC" type="cns:RFIC_CodeType">
        <xs:annotation>
          <xs:documentation>Reason For Issuance Code 
 Examples:
 A (Air Transportation)
 C (Baggage)
 E (Airport Services)
 F (Merchandise)
 G (In-flight Services)
 Refer to PADIS Codeset for data element 4183 - Special Condition.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="RFISC" type="cns:RFISC_CodeType">
        <xs:annotation>
          <xs:documentation>Reason For Issuance Sub Code.
 Examples:
 0CC (First Checked Bag)
 0B1 (In-flight Entertainment)
 0BX (Lounge)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="ServicePricingOnlyInd" type="cns:IndType">
        <xs:annotation>
          <xs:documentation>When TRUE, service pricing only is requested.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="TaxonomyCode" type="cns:CodeType">
        <xs:annotation>
          <xs:documentation>Used for defining a product or service within the Shared Industry Taxonomy or bilaterally.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="SupplementNameType">
    <xs:annotation>
      <xs:documentation>BDT with value constraints for short supplements to proper names, such as Title, Suffix, etc.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="1"/>
      <xs:maxLength value="16"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TextType">
    <xs:annotation>
      <xs:documentation>Text is a character string such as a finite set of characters generally in the form of words of a language.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="URI_Type">
    <xs:annotation>
      <xs:documentation>A string of characters used to identify a resource. Such identification enables interaction with representations of the resource over a network, typically the World Wide Web, using specific protocols.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:anyURI"/>
  </xs:simpleType>
</xs:schema>