ndc_schemas/25.4/OrderHistoryRQ/IATA_OrderHistoryRQ_CommonTypes.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cns="http://www.iata.org/IATA/2015/EASD/00/IATA_OffersAndOrdersCommonTypes" elementFormDefault="qualified" targetNamespace="http://www.iata.org/IATA/2015/EASD/00/IATA_OffersAndOrdersCommonTypes" version="1.0">
  <xs:complexType name="AddlNameType">
    <xs:annotation>
      <xs:documentation>An additional name type.
 The structure consists of a generic proper name with associated type.
 Examples:
 Name - 'Smith'.
 Name Type Code - 'Fathers Surname'.
 Name - 'Park'.
 Name Type Code - 'Mothers Surname'.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="Name" type="cns:ProperNameType">
        <xs:annotation>
          <xs:documentation>A proper name defined by the associated name type code and further clarified by the description text.
 Name - 'Smith'.
 Name Type Code - 'Father Surname'.
 Name - 'Park'.
 Name Type Code - 'Mother Surname'.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="NameTypeCode" type="cns:AddlNameTypeCodeType">
        <xs:annotation>
          <xs:documentation>The type of proper name
 Examples:
 'Father Surname'.
 'Mother Surname'.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AddlNameTypeCodeContentType">
    <xs:annotation>
      <xs:documentation>This will include a codelist with defined types of additional names. {codeListAgencyName}IATA AIDM{/codeListAgencyName} </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Father Surname">
        <xs:annotation>
          <xs:documentation>This is the individuals fathers name surname which is part of the individuals full surname.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Mother Surname">
        <xs:annotation>
          <xs:documentation>This is the individuals mothers name surname which is part of the individuals full surname.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AddlNameTypeCodeType">
    <xs:annotation>
      <xs:documentation>This will define allowable additional name types.
 'Father Surname'
 'Mother Surname'</xs:documentation>
    </xs:annotation>
    <xs:restriction base="cns:AddlNameTypeCodeContentType"/>
  </xs:simpleType>
  <xs:simpleType name="AirlineDesigCodeContentType">
    <xs:annotation>
      <xs:documentation>The codelist contents of IATA Resolution 762 airline codes, or of ICAO airline codes {codeListAgencyName}IATA or ICAO{/codeListAgencyName} {codeListName}Resolution 762 Airline Codes or ICAO Airline Codes{/codeListName} </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:simpleType name="AirlineDesigCodeType">
    <xs:annotation>
      <xs:documentation>Either the IATA-defined 2-character code or the ICAO-defined 3-character code of an airline, as per the length of the value.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="cns:AirlineDesigCodeContentType"/>
  </xs:simpleType>
  <xs:complexType name="AmountType">
    <xs:annotation>
      <xs:documentation>An amount is a number of monetary units specified in a currency.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="CurCode" type="xs:token" use="required">
          <xs:annotation>
            <xs:documentation>Currency Code as per ISO 4217 alphabetic code e.g. EUR, USD, AUD</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AugmentationPointType">
    <xs:annotation>
      <xs:documentation>Implementer-Augmented Structure.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:any maxOccurs="unbounded" minOccurs="1" namespace="##other" processContents="lax"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="BDC_AnalysisResultCodeContentType">
    <xs:annotation>
      <xs:documentation>Enumeration set for the BDC Analysis Result Code Type BDT. {codeListAgencyIdentifier}PADIS{/codeListAgencyIdentifier} {codeListAgencyName}PADIS{/codeListAgencyName} {codeListName}RES{/codeListName} </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:simpleType name="BDC_AnalysisResultCodeType">
    <xs:annotation>
      <xs:documentation>Additional BDT to specify BDC analysis result code.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="cns:BDC_AnalysisResultCodeContentType"/>
  </xs:simpleType>
  <xs:complexType name="BDC_Type">
    <xs:annotation>
      <xs:documentation>A carrier whose baggage allowances and charges apply.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="BagRuleCode" type="cns:BagRuleCodeType">
        <xs:annotation>
          <xs:documentation>US Department of Transportation (DOT) Reservation or Disclosure baggage rule.
 Examples: Y, Disclosure AND US DOT Reservation</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="BDC_AnalysisResultCode" type="cns:BDC_AnalysisResultCodeType">
        <xs:annotation>
          <xs:documentation>In concert with BaggageDeterminingCarrier data field, specifies the reason for the carrier code in the AirlineID element.
 Encoding Scheme: IATA PADIS Code List for data element RES.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="BDC_ReasonText" type="cns:TextType">
        <xs:annotation>
          <xs:documentation>Reason for selection of the Baggage Determining Carrier. 
 Examples: Regulatory (application of regulation or resolution), Deferral (deferral by ORA), Bilateral (bilateral agreement).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="CarrierDesigCode" type="cns:AirlineDesigCodeType">
        <xs:annotation>
          <xs:documentation>Airline code assigned to a carrier. Either ICAO-defined 3-character code or IATA-defined 2-character code.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="CarrierName" type="cns:NameType">
        <xs:annotation>
          <xs:documentation>Commercial name of the carrier.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="BagRuleCodeContentType">
    <xs:annotation>
      <xs:documentation>Enumeration set for the currency application code Type BDT. </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="D">
        <xs:annotation>
          <xs:documentation>Disclosure with NO US DOT Reservation</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="N">
        <xs:annotation>
          <xs:documentation>No Disclosure or US DOT Reservation</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Other">
        <xs:annotation>
          <xs:documentation>Other</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Y">
        <xs:annotation>
          <xs:documentation>Disclosure and US DOT Reservation</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BagRuleCodeType">
    <xs:annotation>
      <xs:documentation>BDT to represent Bag Rule code list.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="cns:BagRuleCodeContentType"/>
  </xs:simpleType>
  <xs:complexType name="CityType">
    <xs:annotation>
      <xs:documentation>City (e.g., Dublin), town, or postal station (i.e., a postal service territory, often used in a military address, or metropolitan area)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="CityName" type="cns:NameType">
        <xs:annotation>
          <xs:documentation>The name, expressed as text, of the city, town or village.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="IATA_LocationCode" type="cns:IATA_LocationCodeType">
        <xs:annotation>
          <xs:documentation>IATA defined code identifying a city or station.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="CodeType">
    <xs:annotation>
      <xs:documentation>A code is a character string of letters, numbers, special characters (except escape sequences), and symbols.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="CollectionPointTaxType">
    <xs:annotation>
      <xs:documentation>Tax data breakdown by collection point for XF(Passenger Facility Fee) and ZP(federal tax segment) taxes.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="AirportAmount" type="cns:AmountType">
        <xs:annotation>
          <xs:documentation>Amount filed by the airport in the currency applicable to the geographical location of the airport.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="Station" type="cns:StationType">
        <xs:annotation>
          <xs:documentation>Location or facility where air or surface transportation originates, stops and/or terminates, and where passengers and/or cargo can be taken on or off. 
 Those of relevance to the airline industry are identified by an IATA Location Identifier (3 letter location identifier). There are also additional airports without an IATA identifier that may be used in disruption scenarios that will be identified by an ICAO 4 letter code (assigned to every registered airport, military or civil).
 Business Identifier Fields:
 - IATA Location Code</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ContactInfoType">
    <xs:annotation>
      <xs:documentation>The electronic or geographic address which a party has provided as the contact channel. For example, contact email, contact postal address, contact phone number.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="ContactInfoID" type="cns:ID_Type">
        <xs:annotation>
          <xs:documentation>Uniquely Identifies a set of Contact Information, within the context of one message.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="99" minOccurs="0" name="ContactPurposeText" type="cns:TextType">
        <xs:annotation>
          <xs:documentation>to identify the contact purpose (PADIS code list 3299)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="ContactRefusedInd" type="cns:IndType">
        <xs:annotation>
          <xs:documentation>When TRUE, Contact Information was refused to be provided.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="EmailAddress" type="cns:EmailAddressType">
        <xs:annotation>
          <xs:documentation>The email address which should be used for contact purposes.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="Individual" type="cns:IndividualType">
        <xs:annotation>
          <xs:documentation>A single human being as distinct from a group, class, or family.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="IndividualRefID" type="cns:ID_Type">
        <xs:annotation>
          <xs:documentation>Reference to Individual instance(s)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="OtherAddress" type="cns:OtherAddressType">
        <xs:annotation>
          <xs:documentation>Other Contact Method information. E.g. web site URL, social media handle.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="PaxSegmentRefID" type="cns:ID_Type">
        <xs:annotation>
          <xs:documentation>Uniquely identifies a Passenger Segment within the context of one message.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Phone" type="cns:PhoneType">
        <xs:annotation>
          <xs:documentation>A telephone number is a sequence of digits assigned to a fixed-line telephone subscriber station connected to a telephone line or to a wireless electronic telephony device, such as a radio telephone or a mobile telephone, or to other devices for data transmission via the public switched telephone network (PSTN) or other private networks.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="PostalAddress" type="cns:PostalAddressType">
        <xs:annotation>
          <xs:documentation>Natural or physical address used for postal service. May be a building address, airport address, etc.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="RelationshipToPax" type="cns:TextType">
        <xs:annotation>
          <xs:documentation>Relationship to the passenger e.g. used for when this individual is an emergency contact</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="CountryCodeContentType">
    <xs:annotation>
      <xs:documentation>The code list of ISO 3166 two-alpha Country Codes </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:simpleType name="CountryCodeType">
    <xs:annotation>
      <xs:documentation>ISO Country Code.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="cns:CountryCodeContentType"/>
  </xs:simpleType>
  <xs:simpleType name="CountryDialingCodeContentType">
    <xs:annotation>
      <xs:documentation>Enumeration set for the Country Dialing Code BDT. </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:simpleType name="CountryDialingCodeType">
    <xs:annotation>
      <xs:documentation>Additional BDT to specify the numeric telephone dialing prefixes for the member countries of the International Telecommunication Union (ITU).</xs:documentation>
    </xs:annotation>
    <xs:restriction base="cns:CountryDialingCodeContentType"/>
  </xs:simpleType>
  <xs:simpleType name="CountrySubDivisionCodeContentType">
    <xs:annotation>
      <xs:documentation>The list of Country Sub-Division Codes in ISO 3166-2, or referenced from ISO 3166-2 for the specific countries. Max-3-char sub-division code without preceding country code. </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:simpleType name="CountrySubDivisionCodeType">
    <xs:annotation>
      <xs:documentation>ISO 3166-2 Country Sub-Division Code. Max-3-char sub-division code without preceding country code. E.g. 'AZ' for Arizona, 'BY' for Bavaria region in Germany.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="cns:CountrySubDivisionCodeContentType"/>
  </xs:simpleType>
  <xs:complexType name="CountrySubDivisionType">
    <xs:annotation>
      <xs:documentation>An area of land which is a sub-division within a country, such as a state, a county, a canton, a province, etc.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="CountrySubDivisionCode" type="cns:CountrySubDivisionCodeType">
        <xs:annotation>
          <xs:documentation>ISO code 3166-2 identifying this country sub-division within a given country. E.g. 'US-AZ' for state of Arizona (United States of America), 'DE-BY' for region of Bavaria (Germany).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="CountrySubDivisionName" type="cns:ProperNameType">
        <xs:annotation>
          <xs:documentation>The name, expressed as text, of the sub-division of a country.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CountryType">
    <xs:annotation>
      <xs:documentation>A nation with its own government, occupying a particular territory.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="CountryCode" type="cns:CountryCodeType">
        <xs:annotation>
          <xs:documentation>ISO Country Code 3166-1 alpha-2 (can be extended by bilateral agreement in case of exceptions, e.g. Kosovo). Examples: US, FR.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="CountryName" type="cns:ProperNameType">
        <xs:annotation>
          <xs:documentation>The name, expressed as text, of the country.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="CurAppCodeContentType">
    <xs:annotation>
      <xs:documentation>Currency Application Code enumeration information. </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Actual">
        <xs:annotation>
          <xs:documentation>Actual</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Conversion">
        <xs:annotation>
          <xs:documentation>Conversion</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Display">
        <xs:annotation>
          <xs:documentation>Display</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Other">
        <xs:annotation>
          <xs:documentation>Other</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Requested">
        <xs:annotation>
          <xs:documentation>Requested</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CurAppCodeType">
    <xs:annotation>
      <xs:documentation>Additional BDT to specify the currency code application. Examples: Actual, Display, Requested, Conversion, Other
 .</xs:documentation>
    </xs:annotation>
    <xs:restriction base="cns:CurAppCodeContentType"/>
  </xs:simpleType>
  <xs:simpleType name="CurCodeContentType">
    <xs:annotation>
      <xs:documentation>Currency Code enumeration information. {codeListAgencyName}ISO{/codeListAgencyName} {codeListIdentifier}4217{/codeListIdentifier} </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:simpleType name="CurCodeType">
    <xs:annotation>
      <xs:documentation>Additional BDT to specify a currency code.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="cns:CurCodeContentType"/>
  </xs:simpleType>
  <xs:complexType name="CurConversionType">
    <xs:annotation>
      <xs:documentation>The result of converting one currency into another currency. E.g. local currency to USD, air miles to monetary.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="Amount" type="cns:AmountType">
        <xs:annotation>
          <xs:documentation>Amount and currency specified in the converted currency. Example: 15000 USD</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="ConversionRate" type="cns:RateType">
        <xs:annotation>
          <xs:documentation>Defines the rate used to convert the local currency into the billing currency.
 Do we want to define an official name for the Billing Currency?</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="LocalAmount" type="cns:AmountType">
        <xs:annotation>
          <xs:documentation>Amount and currency as specified by the local Country.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CurParameterType">
    <xs:annotation>
      <xs:documentation>Currency related parameters intended to influence which currency the shopping results are displayed in.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="AppCode" type="cns:CurAppCodeType">
        <xs:annotation>
          <xs:documentation>Currency code application. Examples: Actual, Display, Requested, Conversion, Other</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="CurCode" type="cns:CurCodeType">
        <xs:annotation>
          <xs:documentation>Currency Code as per ISO 4217.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="DecimalsAllowedNumber" type="cns:NumberType">
        <xs:annotation>
          <xs:documentation>Specifies how many numbers to be specified after the decimal in case of currency amounts.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="Name" type="cns:NameType">
        <xs:annotation>
          <xs:documentation>Currency name, e.g. US Dollars.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="DateTimeType">
    <xs:annotation>
      <xs:documentation>A date time identifies a date and time of day to various common resolutions: year, month, week, day, hour, minute, second, and fraction of second.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>
  <xs:simpleType name="DateType">
    <xs:annotation>
      <xs:documentation>A date is a Gregorian calendar representation in various common resolutions: year, month, week, day.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:date"/>
  </xs:simpleType>
  <xs:complexType name="DeviceLocationType">
    <xs:annotation>
      <xs:documentation>Location of device</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="City" type="cns:CityType">
        <xs:annotation>
          <xs:documentation>City (e.g., Dublin), town, or postal station (i.e., a postal service territory, often used in a military address, or metropolitan area)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="Country" type="cns:CountryType">
        <xs:annotation>
          <xs:documentation>A nation with its own government, occupying a particular territory.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="GeospatialLocation" type="cns:GeospatialLocationType">
        <xs:annotation>
          <xs:documentation>A location with a spatial attribute, probably on the surface of the earth. For example: Longitude and Latitude</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DeviceType">
    <xs:annotation>
      <xs:documentation>Device upon which the secure transaction will occur.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="DeviceCode" type="cns:TouchPointDeviceCodeType">
        <xs:annotation>
          <xs:documentation>The device code from which the request was initiated. See 
 PADIS codeset TDT Touchpoint device type.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="DeviceOwnerTypeCode" type="cns:OwnershipTypeCodeType">
        <xs:annotation>
          <xs:documentation>Specifies the type of Owner.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="PresenceTypeCode" type="cns:PresenceTypeCodeType">
        <xs:annotation>
          <xs:documentation>Specifies the Presence of a customer.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DistributionChainLinkType">
    <xs:annotation>
      <xs:documentation>An organization playing a participating role in an instance of a distribution channel.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="ContactInfo" type="cns:ContactInfoType">
        <xs:annotation>
          <xs:documentation>The electronic or geographic address which a party has provided as the contact channel. For example, contact email, contact postal address, contact phone number.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="Ordinal" type="cns:OrdinalType">
        <xs:annotation>
          <xs:documentation>The number defining the position of the distribution chain link in the distribution chain indicating the order in which the organization participated.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="OrgRole" type="cns:DistributionChainRoleCodeType">
        <xs:annotation>
          <xs:documentation>The distribution chain role performed by the participating organization. That is, the Seller (end buyer facing), the Distributor (an intermediary), or the Carrier (the Responsible Supplier).
 For clarity this is different to the business model used by the participating organization, and the Nature of Business typically registered during incorporation as one of the organization's business activities.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="ParticipatingOrg" type="cns:ParticipatingOrgType">
        <xs:annotation>
          <xs:documentation>An organized structure set up for a particular purpose, such as a business, government body, department, charity, or financial institution.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="SalesAgent" type="cns:SalesAgentType">
        <xs:annotation>
          <xs:documentation>An individual conducting sales activities on behalf of a sales branch or organization.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="SalesBranch" type="cns:SalesBranchType">
        <xs:annotation>
          <xs:documentation>An organizational unit with responsibility over sales in a market, for a product or service and under any other specified criteria.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="VerifiablePresentation" type="cns:TextType">
        <xs:annotation>
          <xs:documentation>The root mode of the IATA Verifiable Presentation schema structure based on w3c Verifiable Credential Schema</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="DistributionChainRoleCodeContentType">
    <xs:annotation>
      <xs:documentation>The list of allowable roles in a distribution chain. {codeListAgencyName}IATA{/codeListAgencyName} {codeListName}PADIS Codeset 9873{/codeListName} </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Carrier">
        <xs:annotation>
          <xs:documentation>An organization which carries the passenger, baggage, or goods, and/or commits to delivering the carriage.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Distributor">
        <xs:annotation>
          <xs:documentation>An organization that provides a distribution capability such as a certain type of Consolidator, an Aggregator, more generally an intermediary.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Seller">
        <xs:annotation>
          <xs:documentation>An organization that offers a shopping capability to a shopper.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DistributionChainRoleCodeType">
    <xs:annotation>
      <xs:documentation>The list of allowable roles in a distribution chain.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="cns:DistributionChainRoleCodeContentType"/>
  </xs:simpleType>
  <xs:complexType name="DistributionChainType">
    <xs:annotation>
      <xs:documentation>An instance of a distribution channel, which is a chain of intermediaries through which a good or service passes until it reaches the final buyer or the end consumer.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="1" name="DistributionChainLink" type="cns:DistributionChainLinkType">
        <xs:annotation>
          <xs:documentation>An organization playing a participating role in an instance of a distribution channel.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EmailAddressType">
    <xs:annotation>
      <xs:documentation>The email address which should be used for contact purposes.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="ContactTypeText" type="cns:TextType">
        <xs:annotation>
          <xs:documentation>PADIS code list: Contact Type (to identify the technical contact type information)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="EmailAddressText" type="cns:TextType">
        <xs:annotation>
          <xs:documentation>The email address which should be used for contact purposes.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="GenderCodeContentType">
    <xs:annotation>
      <xs:documentation>Enumeration set for Gender Code. {codeListAgencyName}ICAO{/codeListAgencyName} {codeListName}Document 9303 Sex of the holder{/codeListName} </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="F">
        <xs:annotation>
          <xs:documentation>Female</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="M">
        <xs:annotation>
          <xs:documentation>Male</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="U">
        <xs:annotation>
          <xs:documentation>Unknown</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="X">
        <xs:annotation>
          <xs:documentation>Unspecified</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="GenderCodeType">
    <xs:annotation>
      <xs:documentation>Additional BDT to specify Gender code.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="cns:GenderCodeContentType"/>
  </xs:simpleType>
  <xs:complexType name="GeospatialLocationType">
    <xs:annotation>
      <xs:documentation>A location with a spatial attribute, probably on the surface of the earth. For example: Longitude and Latitude</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="NaturalAreaGeocode" type="cns:CodeType">
        <xs:annotation>
          <xs:documentation>Natural Area Geocode as defined by NAC Geographic Products Inc. Ex: 8KDB PGFD</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="PointElevationNumber" type="cns:NumberType">
        <xs:annotation>
          <xs:documentation>The number of the spatial location point elevation.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="PointLatitudeNumber" type="cns:NumberType">
        <xs:annotation>
          <xs:documentation>The number of the spatial location point latitude.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="PointLongitudeNumber" type="cns:NumberType">
        <xs:annotation>
          <xs:documentation>The number of the spatial location point longitude.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="IATA_LocationCodeContentType">
    <xs:annotation>
      <xs:documentation>Enumeration set for the Location Code BDT. {codeListAgencyName}IATA{/codeListAgencyName} {codeListName}Location code{/codeListName} {enumerationURI}http://www.iata.org/publications/Pages/code-search.aspx{/enumerationURI}</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:length value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="IATA_LocationCodeType">
    <xs:annotation>
      <xs:documentation>Additional BDT to specify the codeset which defines the IATA airport or city codes.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="cns:IATA_LocationCodeContentType"/>
  </xs:simpleType>
  <xs:complexType name="IATA_PayloadStandardAttributesType">
    <xs:annotation>
      <xs:documentation>The IATA_PayloadStdAttributes defines the standard attributes that appear on the root element for all IATA payloads.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="AltLangID" type="cns:ID_Type">
        <xs:annotation>
          <xs:documentation>Identifies the alternate language for a customer or message. The human language is identified by ISO 639 codes.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="CorrelationID" type="cns:ID_Type">
        <xs:annotation>
          <xs:documentation>Allow end-to-end correlation of log messages with the corresponding Web service message throughout the processing of the Web service message.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="PrimaryLangID" type="cns:ID_Type">
        <xs:annotation>
          <xs:documentation>Identifes the primary language preference for the message. The human language is identified by ISO 639 codes.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="RetransmissionInd" type="cns:IndType">
        <xs:annotation>
          <xs:documentation>When true, indicates the message is being re-sent after a failure. It is recommended that this attribute is used (i.e., set to true) only when a message is retransmitted.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="SeqNumber" type="cns:NumberType">
        <xs:annotation>
          <xs:documentation>Used to identify the sequence number of the transaction as assigned by the sending system; allows for an application to process messages in a certain order or to request a resynchronization of messages in the event that a system has been off-line and needs to retrieve messages that were missed.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="Timestamp" type="cns:DateTimeType">
        <xs:annotation>
          <xs:documentation>Indicates the creation date and time of the message in UTC.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="TrxID" type="cns:ID_Type">
        <xs:annotation>
          <xs:documentation>A unique identifier to relate all messages within a transaction (e.g. this would be sent in all request and response messages that are part of an on-going transaction).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="VersionNumber" type="cns:NumberType">
        <xs:annotation>
          <xs:documentation>For all IATA versioned messages, the version of the message is indicated by a decimal value.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ID_Type">
    <xs:annotation>
      <xs:documentation>An identifier is a character string used to uniquely identify one instance of an object within an identification scheme that is managed by an agency.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:simpleType name="IndType">
    <xs:annotation>
      <xs:documentation>An indicator is a list of two mutually exclusive Boolean values that express the only possible states of a property.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:boolean"/>
  </xs:simpleType>
  <xs:complexType name="IndividualType">
    <xs:annotation>
      <xs:documentation>A single human being as distinct from a group, class, or family.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="AddlName" type="cns:AddlNameType">
        <xs:annotation>
          <xs:documentation>An additional name type.
 The structure consists of a generic proper name with associated type.
 Examples:
 Name - 'Smith'.
 Name Type Code - 'Fathers Surname'.
 Name - 'Park'.
 Name Type Code - 'Mothers Surname'.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="Birthdate" type="cns:DateType">
        <xs:annotation>
          <xs:documentation>The date on which an individual was born.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="BirthplaceText" type="cns:TextType">
        <xs:annotation>
          <xs:documentation>Country Code where the Passenger was born (ISO 3166). For example: DE</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="GenderCode" type="cns:GenderCodeType">
        <xs:annotation>
          <xs:documentation>Gender of the individual. Refer to PADIS Codeset 6353.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="5" minOccurs="0" name="GivenName" type="cns:ProperNameType">
        <xs:annotation>
          <xs:documentation>A personal name given to the individual at birth and used before a family name. Also called first name. E.g. JOHN.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="IndividualID" type="cns:ID_Type">
        <xs:annotation>
          <xs:documentation>Uniquely Identifies an Individual within the context of one message.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="3" minOccurs="0" name="MiddleName" type="cns:ProperNameType">
        <xs:annotation>
          <xs:documentation>Individual's middle name or initial. E.g. G, GEORGE.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="SuffixName" type="cns:SupplementNameType">
        <xs:annotation>
          <xs:documentation> Individual's name suffixes and letters. Examples: Jr., Sr., III, Ret., Esq.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="Surname" type="cns:ProperNameType">
        <xs:annotation>
          <xs:documentation>Individual's hereditary name(s) common to all members of a family. Also known as family name or last name. E.g. SMITH. Excludes any potential suffix.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="TitleName" type="cns:SupplementNameType">
        <xs:annotation>
          <xs:documentation>A word such as Mr., Mrs., Miss or Dr that is used before an individual's name to indicate the gender, profession or marital status.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="LangCodeContentType">
    <xs:annotation>
      <xs:documentation>Language Code {codeListAgencyName}ISO{/codeListAgencyName} {codeListName}Language Code{/codeListName} {codeListIdentifier}6392{/codeListIdentifier} </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="LangCodeType">
    <xs:annotation>
      <xs:documentation>BDT to represent ISO language code list.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="cns:LangCodeContentType"/>
  </xs:simpleType>
  <xs:complexType name="LangUsageType">
    <xs:annotation>
      <xs:documentation>Language Code representation.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="LangCode" type="cns:LangCodeType">
        <xs:annotation>
          <xs:documentation>Language Code representation.
 Notes:
 1. Language code. Example: en, en-US.
 2. Encoding Schemes: ISO 639-1 Code OR Microsoft National Language Support (NLS) Code.
 3. Supports ISO 639-1 (two alpha character) neutral language encoding indicated by a name such as 'en' for English.
 4. Supports MNLS geographically specific language encoding indicated by a name that includes both locale and country/region information. For example, the locale English (United States) has the language name 'en-US'.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="LangUsageText" type="cns:TextType">
        <xs:annotation>
          <xs:documentation>Written or Spoken language.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="MeasurementSystemCodeContentType">
    <xs:annotation>
      <xs:documentation>Enumeration set for the measurement system code BDT. {codeListAgencyName}PADIS{/codeListAgencyName} </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Imperial">
        <xs:annotation>
          <xs:documentation>The imperial measurement system.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Metric">
        <xs:annotation>
          <xs:documentation>The metric measurement system.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MeasurementSystemCodeType">
    <xs:annotation>
      <xs:documentation>BDT to represent measurement system codes (e.g. Imperial, Metric).</xs:documentation>
    </xs:annotation>
    <xs:restriction base="cns:MeasurementSystemCodeContentType"/>
  </xs:simpleType>
  <xs:simpleType name="NameType">
    <xs:annotation>
      <xs:documentation>A name is a word or phrase that constitutes the distinctive designation of a person, place, thing or concept</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:simpleType name="NumberType">
    <xs:annotation>
      <xs:documentation>A mathematical number that is assigned or is determined by calculation.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal"/>
  </xs:simpleType>
  <xs:complexType name="OrderHistoryRequestType">
    <xs:annotation>
      <xs:documentation>Request for Order History</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="Order" type="cns:OrderKeyType">
        <xs:annotation>
          <xs:documentation>A uniquely identified record of the agreement of one party with another to receive products and services under specified terms and conditions. Order supports the sale of a flexible range of airline products and services that are not necessarily Journey based (e.g. subscription services). 
 Comment:
 A 'PNR', 'super PNR' and 'ticket' are all today's versions of airline implementations of aspects of an Order. 
 An Order may support non-homogeneity, i.e. each passenger in an Order may hold different sets of order items at different prices.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="ResponseParameters" type="cns:ResponseParametersRequestType">
        <xs:annotation>
          <xs:documentation>A set of Information related to how response results should be returned.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrderKeyType">
    <xs:annotation>
      <xs:documentation>A uniquely identified record of the agreement of one party with another to receive products and services under specified terms and conditions. Order supports the sale of a flexible range of airline products and services that are not necessarily Journey based (e.g. subscription services). 
 Comment:
 A 'PNR', 'super PNR' and 'ticket' are all today's versions of airline implementations of aspects of an Order. 
 An Order may support non-homogeneity, i.e. each passenger in an Order may hold different sets of order items at different prices.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="CreationDateTime" type="cns:DateTimeType">
        <xs:annotation>
          <xs:documentation>The date time by which the order is created.
 Examples: 2018-09-05T15:52:01Z</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="OrderID" type="cns:ID_Type">
        <xs:annotation>
          <xs:documentation>Carrier assigned ID which uniquely identifies a specific Order across several messages.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="OrderVersionNumber" type="cns:OrderVersionNumberType">
        <xs:annotation>
          <xs:documentation>Version of the Order used to track the evolution of an Order and the changes made to it.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="OwnerCode" type="cns:AirlineDesigCodeType">
        <xs:annotation>
          <xs:documentation>Airline code assigned to a carrier. Either ICAO-defined 3-character code or IATA-defined 2-character code.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="StatusCode" type="cns:OrderStatusCodeType">
        <xs:annotation>
          <xs:documentation>Status of the Order Status instance. See ATSB Codeset OrderStatus for possible values.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="OrderStatusCodeContentType">
    <xs:annotation>
      <xs:documentation>The possible statuses of an Order {codeListAgencyName}IATA Code List{/codeListAgencyName} {codeListName}Ordered Status, coded{/codeListName} {codeListIdentifier}ORDERSTATUS{/codeListIdentifier} </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:simpleType name="OrderStatusCodeType">
    <xs:annotation>
      <xs:documentation>represents the statuses of an Order</xs:documentation>
    </xs:annotation>
    <xs:restriction base="cns:OrderStatusCodeContentType"/>
  </xs:simpleType>
  <xs:simpleType name="OrderVersionNumberType">
    <xs:annotation>
      <xs:documentation>Order version number BDT.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer"/>
  </xs:simpleType>
  <xs:simpleType name="OrdinalType">
    <xs:annotation>
      <xs:documentation>An ordinal number is an assigned mathematical number that represents order or sequence.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer"/>
  </xs:simpleType>
  <xs:complexType name="OtherAddressType">
    <xs:annotation>
      <xs:documentation>Other Contact Method information. E.g. web site URL, social media handle.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="ContactTypeText" type="cns:TextType">
        <xs:annotation>
          <xs:documentation>PADIS code list: Contact Type (to identify the technical contact type information)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="OtherAddressText" type="cns:TextType">
        <xs:annotation>
          <xs:documentation>Other Contact Method Value. Example: www.marketingsite.com</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="OwnershipTypeCodeContentType">
    <xs:annotation>
      <xs:documentation>Ownership Type Code </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Customer">
        <xs:annotation>
          <xs:documentation>Customer</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Seller">
        <xs:annotation>
          <xs:documentation>Seller</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="OwnershipTypeCodeType">
    <xs:annotation>
      <xs:documentation>Ownership Type Code</xs:documentation>
    </xs:annotation>
    <xs:restriction base="cns:OwnershipTypeCodeContentType"/>
  </xs:simpleType>
  <xs:complexType name="POS_Type">
    <xs:annotation>
      <xs:documentation>Information identifying the location and other attributes of the entity performing transactions. Point of sale may be considered by some systems when making inventory and availability decisions.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="AgentDutyText" type="cns:TextType">
        <xs:annotation>
          <xs:documentation>Internally defined agent authority to request changes.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="City" type="cns:CityType">
        <xs:annotation>
          <xs:documentation>City (e.g., Dublin), town, or postal station (i.e., a postal service territory, often used in a military address, or metropolitan area)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="Country" type="cns:CountryType">
        <xs:annotation>
          <xs:documentation>A nation with its own government, occupying a particular territory.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="OnlineTrxInd" type="cns:IndType">
        <xs:annotation>
          <xs:documentation>Indicator to flag if this is an online transaction.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="RequestTime" type="cns:DateTimeType">
        <xs:annotation>
          <xs:documentation>Point of sale timestamp value. Example: 2017-01-13T13:59:38Z
 Note: This may be used if the point of sale time zone differs from the message creation timestamp.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ParticipatingOrgType">
    <xs:annotation>
      <xs:documentation>An organized structure set up for a particular purpose, such as a business, government body, department, charity, or financial institution.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="Name" type="cns:NameType">
        <xs:annotation>
          <xs:documentation>Name of the organization</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="OrgID" type="cns:ID_Type">
        <xs:annotation>
          <xs:documentation>Organization code or identifier.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="PaxGroupNameType">
    <xs:annotation>
      <xs:documentation>The name of the group type.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="PaxGroupType">
    <xs:annotation>
      <xs:documentation>A number of individual passengers traveling under one commercial name that associates them. E.g. a Tour group or a group for sales allotment from airline to agency.
 Group bookings are subject to special booking rules and may be eligible for special fare rules. Usage and nature of groups is left to bilateral agreements.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ContactInfo" type="cns:ContactInfoType">
        <xs:annotation>
          <xs:documentation>The electronic or geographic address which a party has provided as the contact channel. For example, contact email, contact postal address, contact phone number.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="IntendedPaxQty" type="cns:QtyType">
        <xs:annotation>
          <xs:documentation>Intended number of passengers for this Group.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="PaxGroupID" type="cns:ID_Type">
        <xs:annotation>
          <xs:documentation>Uniquely identifies a Passenger Group.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="PaxGroupName" type="cns:PaxGroupNameType">
        <xs:annotation>
          <xs:documentation>The name of the group.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PhoneType">
    <xs:annotation>
      <xs:documentation>A telephone number is a sequence of digits assigned to a fixed-line telephone subscriber station connected to a telephone line or to a wireless electronic telephony device, such as a radio telephone or a mobile telephone, or to other devices for data transmission via the public switched telephone network (PSTN) or other private networks.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="AreaCodeNumber" type="cns:TextType">
        <xs:annotation>
          <xs:documentation>Phone number area code. Example: 813
 Note: The phone number can be put unstructured into the phone element or can be put structured into country dialing code, area code, phone number and extension.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="ContactTypeText" type="cns:TextType">
        <xs:annotation>
          <xs:documentation>PADIS code list: Contact Type (to identify the technical contact type information)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="CountryDialingCode" type="cns:CountryDialingCodeType">
        <xs:annotation>
          <xs:documentation>Numeric telephone dialing prefixes for the member countries of the International Telecommunication Union (ITU). Note: The phone number can be put unstructured into the phone element or can be put structured into country dialing code, area code, phone number and extension.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="ExtensionNumber" type="cns:TextType">
        <xs:annotation>
          <xs:documentation>Phone extension number. Example: 1234
 Note: The phone number can be put unstructured into the phone element or can be put structured into country dialing code, area code, phone number and extension.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="PhoneNumber" type="cns:TextType">
        <xs:annotation>
          <xs:documentation>Phone number text.
 Examples:
 +1 999-999-9999 ext 1234, 
 617-9976
 Note: This may be a simple, un-structured phone number, such as +01 999-999-9999 ext 1234 or combined with additional attributes country dialing code, area code and extension to create a structured phone number.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PostalAddressType">
    <xs:annotation>
      <xs:documentation>Natural or physical address used for postal service. May be a building address, airport address, etc.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="BuildingRoomText" type="cns:TextType">
        <xs:annotation>
          <xs:documentation>Additional address information including building name, room, apartment, or suite number.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="CityName" type="cns:NameType">
        <xs:annotation>
          <xs:documentation>The name, expressed as text, of the city, town or village.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="ContactTypeText" type="cns:TextType">
        <xs:annotation>
          <xs:documentation>PADIS code list: Contact Type (to identify the technical contact type information)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="CountryCode" type="cns:CountryCodeType">
        <xs:annotation>
          <xs:documentation>ISO Country Code (can be extended by bilateral agreement in case of exceptions, e.g. Kosovo). Examples: US, FR.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="CountryName" type="cns:ProperNameType">
        <xs:annotation>
          <xs:documentation>The name, expressed as text, of the country.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="CountrySubDivisionName" type="cns:ProperNameType">
        <xs:annotation>
          <xs:documentation>The name, expressed as text, of the sub-division of a country.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="PO_BoxCode" type="cns:CodeType">
        <xs:annotation>
          <xs:documentation>Post office box. Example: P.O. Box 21</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="PostalCode" type="cns:CodeType">
        <xs:annotation>
          <xs:documentation>Postal code. Examples: 11001, 11001-2345</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="2" minOccurs="0" name="StreetText" type="cns:TextType">
        <xs:annotation>
          <xs:documentation>Street name and number. Examples: Main Street, 100 Main Street</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="PresenceTypeCodeContentType">
    <xs:annotation>
      <xs:documentation>Presence Type Code </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="CN">
        <xs:annotation>
          <xs:documentation>Customer not present</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CP">
        <xs:annotation>
          <xs:documentation>Customer present</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PresenceTypeCodeType">
    <xs:annotation>
      <xs:documentation>Presence Type Code</xs:documentation>
    </xs:annotation>
    <xs:restriction base="cns:PresenceTypeCodeContentType"/>
  </xs:simpleType>
  <xs:complexType name="PricingParameterType">
    <xs:annotation>
      <xs:documentation>Pricing Parameters, including Simple Pricing, Award Travel, Auto Exchange, Override Currency and Tax Exemption.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="AutoExchInd" type="cns:IndType">
        <xs:annotation>
          <xs:documentation>When TRUE, this request is to be handled by an auto-exchange process.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="AwardIncludedInd" type="cns:IndType">
        <xs:annotation>
          <xs:documentation>When TRUE, award eligible offers to be returned in addition to priced offers.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="AwardOnlyInd" type="cns:IndType">
        <xs:annotation>
          <xs:documentation>When TRUE, only award eligible offers are requested.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="IncludeUpsellOffersInd" type="cns:IndType">
        <xs:annotation>
          <xs:documentation>An indicator to advise the Airline that the Seller has a preference on receiving upsell offers or not.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="OverrideCurCode" type="cns:CurCodeType">
        <xs:annotation>
          <xs:documentation>When TRUE, override Currency Code to be returned in addition to priced offers.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="SimplePricingInd" type="cns:IndType">
        <xs:annotation>
          <xs:documentation>When TRUE, simple pricing is requested for returned offers.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="TaxExemption" type="cns:TaxSummaryType">
        <xs:annotation>
          <xs:documentation>Tax summary information.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ProperNameType">
    <xs:annotation>
      <xs:documentation>BDT with value constraints for proper, regular names (e.g. Individual Surname, Individual First Name, Company Name, etc.).</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="1"/>
      <xs:maxLength value="64"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="QtyType">
    <xs:annotation>
      <xs:documentation>A quantity is a counted number of non-monetary units, possibly including fractions</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal"/>
  </xs:simpleType>
  <xs:complexType name="RateType">
    <xs:annotation>
      <xs:documentation>A rate is a quantity, amount, frequency, or dimensionless factor, measured against an independent base unit, expressed as a quotient.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="BaseCurCode" type="xs:token" use="optional">
          <xs:annotation>
            <xs:documentation>The currency of the denominator</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="BaseMultiplierValue" type="xs:decimal" use="optional">
          <xs:annotation>
            <xs:documentation>The multiplier of the Rate. Base Unit, Code or Rate. Base Currency. Code</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="BaseUnitCode" type="xs:token" use="optional">
          <xs:annotation>
            <xs:documentation>The unit of measure of the denominator</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="CurCode" type="xs:token" use="optional">
          <xs:annotation>
            <xs:documentation>The currency of the numerator</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Format" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation>Whether the number is an integer, decimal, real number or percentage</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="MultiplierValue" type="xs:decimal" use="optional">
          <xs:annotation>
            <xs:documentation>The multiplier of the Rate. Unit. Code or Rate. Currency. Code</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="UnitCode" type="xs:token" use="optional">
          <xs:annotation>
            <xs:documentation>The unit of measure of the numerator</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="RemarkType">
    <xs:annotation>
      <xs:documentation>Supplementary information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="DisplayInd" type="cns:IndType">
        <xs:annotation>
          <xs:documentation>When TRUE, this remark should be displayed.
 Notes:
 1. This capability may not be supported by all NDC-enabled systems or may be supported by bilateral agreement only. The technical implementation of this capability is not dictated by this specification.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="RemarkText" type="cns:TextType">
        <xs:annotation>
          <xs:documentation>Additional, supplementary information about the document or service.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="Timestamp" type="cns:DateTimeType">
        <xs:annotation>
          <xs:documentation>Remark creation timestamp.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResponseParametersRequestType">
    <xs:annotation>
      <xs:documentation>A set of Information related to how response results should be returned.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="BDC" type="cns:BDC_Type">
        <xs:annotation>
          <xs:documentation>A carrier whose baggage allowances and charges apply.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="CurParameter" type="cns:CurParameterType">
        <xs:annotation>
          <xs:documentation>Currency related parameters intended to influence which currency the shopping results are displayed in.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="Device" type="cns:DeviceType">
        <xs:annotation>
          <xs:documentation>Device upon which the secure transaction will occur.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="DeviceLocation" type="cns:DeviceLocationType">
        <xs:annotation>
          <xs:documentation>Location of device</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="InventoryGuaranteeInd" type="cns:IndType">
        <xs:annotation>
          <xs:documentation>When TRUE, inventory guarantee is requested for applicable optional services.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="LangUsage" type="cns:LangUsageType">
        <xs:annotation>
          <xs:documentation>Language Code representation.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="MeasurementSystemCode" type="cns:MeasurementSystemCodeType">
        <xs:annotation>
          <xs:documentation>Measurement system code. Examples: Imperial, Metric</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="PaxGroup" type="cns:PaxGroupType">
        <xs:annotation>
          <xs:documentation>A number of individual passengers traveling under one commercial name that associates them. E.g. a Tour group or a group for sales allotment from airline to agency.
 Group bookings are subject to special booking rules and may be eligible for special fare rules. Usage and nature of groups is left to bilateral agreements.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="PricingParameter" type="cns:PricingParameterType">
        <xs:annotation>
          <xs:documentation>Pricing Parameters, including Simple Pricing, Award Travel, Auto Exchange, Override Currency and Tax Exemption.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="ReasonCode" type="cns:CodeType">
        <xs:annotation>
          <xs:documentation>ATSB Codeset: CHR Indicating the reason for change.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Remark" type="cns:RemarkType">
        <xs:annotation>
          <xs:documentation>Supplementary information.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SalesAgentType">
    <xs:annotation>
      <xs:documentation>An individual conducting sales activities on behalf of a sales branch or organization.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="SalesAgentID" type="cns:ID_Type">
        <xs:annotation>
          <xs:documentation>The unique identifier of the sales agent. This value must be accompanied by the appropriate Sales Branch Identifier or Organization Identifier to ensure uniqueness.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SalesBranchType">
    <xs:annotation>
      <xs:documentation>An organizational unit with responsibility over sales in a market, for a product or service and under any other specified criteria.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="SalesBranchID" type="cns:ID_Type">
        <xs:annotation>
          <xs:documentation>The industry wide unique identifier of the sales branch. Commonly, a value from the Pseudo City Code may be used, or a bi-latterly agreed code. When the latter it must only be used between parties that hold an appropriate translation.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="StationNameType">
    <xs:annotation>
      <xs:documentation>Data type information for Station Name.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="1"/>
      <xs:maxLength value="256"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="StationType">
    <xs:annotation>
      <xs:documentation>Location or facility where air or surface transportation originates, stops and/or terminates, and where passengers and/or cargo can be taken on or off. 
 Those of relevance to the airline industry are identified by an IATA Location Identifier (3 letter location identifier). There are also additional airports without an IATA identifier that may be used in disruption scenarios that will be identified by an ICAO 4 letter code (assigned to every registered airport, military or civil).
 Business Identifier Fields:
 - IATA Location Code</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="IATA_LocationCode" type="cns:IATA_LocationCodeType">
        <xs:annotation>
          <xs:documentation>IATA 3-letter code defining the city or airport code.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="StationName" type="cns:StationNameType">
        <xs:annotation>
          <xs:documentation>Name of the station. E.g. George Bush Intercontinental Airport.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="SupplementNameType">
    <xs:annotation>
      <xs:documentation>BDT with value constraints for short supplements to proper names, such as Title, Suffix, etc.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="1"/>
      <xs:maxLength value="16"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TaxCodeContentType">
    <xs:annotation>
      <xs:documentation>IATA TTBS codeset {codeListAgencyName}IATA{/codeListAgencyName} {codeListName}TTBS{/codeListName} {enumerationURI}http://www.iata.org/services/finance/Pages/ttbs.aspx{/enumerationURI}</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:simpleType name="TaxCodeType">
    <xs:annotation>
      <xs:documentation>Specifies the IATA TTBS codeset.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="cns:TaxCodeContentType"/>
  </xs:simpleType>
  <xs:simpleType name="TaxQualifierCodeContentType">
    <xs:annotation>
      <xs:documentation>Tax qualifier codeset. {codeListAgencyIdentifier}IATA{/codeListAgencyIdentifier} {codeListAgencyName}PADIS{/codeListAgencyName} {codeListIdentifier}5305{/codeListIdentifier} </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="TaxQualifierCodeType">
    <xs:annotation>
      <xs:documentation>Specifies the Tax Qualifier codeset.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="cns:TaxQualifierCodeContentType"/>
  </xs:simpleType>
  <xs:complexType name="TaxSummaryType">
    <xs:annotation>
      <xs:documentation>Tax summary information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="AllRefundableInd" type="cns:IndType">
        <xs:annotation>
          <xs:documentation>DEPRECATED - This element is deprecated as of 24.1 and will be decommissioned in a future release. Please consult implementation guidance on alternatives to this element.
 When true, all tax breakdown amounts are refundable.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="ApproximateInd" type="cns:IndType">
        <xs:annotation>
          <xs:documentation>When true, this tax is approximate.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="CollectionInd" type="cns:IndType">
        <xs:annotation>
          <xs:documentation>When true, all specified tax breakdowns must be collected.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="GuaranteeTimeLimitDateTime" type="cns:DateTimeType">
        <xs:annotation>
          <xs:documentation>The length of time the Tax of an offer item is guaranteed. In the absence of the Tax guarantee time limit, the Tax is not guaranteed. Upon expiry, the Tax may no longer be guaranteed and either a new shopping process should begin, or the offer should be repriced resulting in a new Offer. 
 Should the Tax guarantee time limit extend beyond Order creation, the remaining length of time persists into the corresponding Order Item. The airline can increase the remaining length of time beyond the original time limit should they wish to.
 This field should only be used when the Airline indicates that a Price Guarantee is available.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="RefundMethodText" type="cns:NameType">
        <xs:annotation>
          <xs:documentation>Information from the Airline detailing to the Customer how the tax refund will be processed and what the Customer has to do for the refund.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Tax" type="cns:TaxType">
        <xs:annotation>
          <xs:documentation>A compulsory contribution to state revenue, levied by the government on workers' income and business profits or added to the cost of some goods, services, and transactions.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="TotalRefundableTaxAmount" type="cns:AmountType">
        <xs:annotation>
          <xs:documentation>The total amount of all refundable taxes as calculated by the Airline.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="TotalTaxAmount" type="cns:AmountType">
        <xs:annotation>
          <xs:documentation>Total of all applicable tax amounts included in the price. If tax breakdowns are provided, this amount should match the sum of the tax breakdown amounts.
 </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxType">
    <xs:annotation>
      <xs:documentation>A compulsory contribution to state revenue, levied by the government on workers' income and business profits or added to the cost of some goods, services, and transactions.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="AddlFiledTaxCode" type="cns:TaxCodeType">
        <xs:annotation>
          <xs:documentation>A qualifier to the Tax Code to distinguish taxes/fees/charges with the same tax code but with different business uses.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="AddlTaxCode" type="cns:TaxCodeType">
        <xs:annotation>
          <xs:documentation>A qualifier to the Tax Code to distinguish taxes/fees/charges with the same tax code but with different business uses.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="Amount" type="cns:AmountType">
        <xs:annotation>
          <xs:documentation>Tax amount. Example: 15000 USD</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="ApproximateInd" type="cns:IndType">
        <xs:annotation>
          <xs:documentation>When true, this tax amount is approximate.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="AppTypeCode" type="cns:CodeType">
        <xs:annotation>
          <xs:documentation>Indicates at which point the tax was applied (e.g. S - Sale, D - Departure, A - Arrival, X - Delivery).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="CollectionInd" type="cns:IndType">
        <xs:annotation>
          <xs:documentation>When true, this tax must be collected.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="CollectionPointTax" type="cns:CollectionPointTaxType">
        <xs:annotation>
          <xs:documentation>Tax data breakdown by collection point for XF(Passenger Facility Fee) and ZP(federal tax segment) taxes.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="Country" type="cns:CountryType">
        <xs:annotation>
          <xs:documentation>A nation with its own government, occupying a particular territory.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="CountrySubDivision" type="cns:CountrySubDivisionType">
        <xs:annotation>
          <xs:documentation>An area of land which is a sub-division within a country, such as a state, a county, a canton, a province, etc.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="CurConversion" type="cns:CurConversionType">
        <xs:annotation>
          <xs:documentation>The result of converting one currency into another currency. E.g. local currency to USD, air miles to monetary.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="DescText" type="cns:TextType">
        <xs:annotation>
          <xs:documentation>Tax short description.
 Example: $4 per flight segment, per passenger (U.S. domestic segment tax)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="FiledAmount" type="cns:AmountType">
        <xs:annotation>
          <xs:documentation>Internal tax filed amount as determined by the airline.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="FiledTaxCode" type="cns:TaxCodeType">
        <xs:annotation>
          <xs:documentation>Internal tax filed type code as determined by the airline.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="QualifierCode" type="cns:TaxQualifierCodeType">
        <xs:annotation>
          <xs:documentation>Used to specify if current, paid, additional taxes Refer to IATA PADIS Code list data element 5305.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="RefundInd" type="cns:IndType">
        <xs:annotation>
          <xs:documentation>When true, this tax is refundable.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="TaxCode" type="cns:TaxCodeType">
        <xs:annotation>
          <xs:documentation>IATA TTBS Tax Code. Example: AY, GB</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="TaxName" type="cns:NameType">
        <xs:annotation>
          <xs:documentation>The name given to describe the tax. For example, this name can be taken from the IATA TTBS</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="TaxTypeCode" type="cns:TaxTypeCodeType">
        <xs:annotation>
          <xs:documentation>Tax type code (e.g. Applied or Exempt).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="TaxTypeCodeContentType">
    <xs:annotation>
      <xs:documentation>Applied or Exempt {codeListAgencyName}IATA AIDM{/codeListAgencyName} </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Applied">
        <xs:annotation>
          <xs:documentation>Applied</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Exempt">
        <xs:annotation>
          <xs:documentation>Exempt</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TaxTypeCodeType">
    <xs:annotation>
      <xs:documentation>Indicates the type of tax (e.g. Applied or Exempt).</xs:documentation>
    </xs:annotation>
    <xs:restriction base="cns:TaxTypeCodeContentType"/>
  </xs:simpleType>
  <xs:simpleType name="TextType">
    <xs:annotation>
      <xs:documentation>Text is a character string such as a finite set of characters generally in the form of words of a language.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="TouchPointDeviceCodeContentType">
    <xs:annotation>
      <xs:documentation>The device from which the request was initiated. Examples: Agent Terminal, Web Browser, Mobile Device {codeListAgencyName}PADIS{/codeListAgencyName} {codeListName}Touchpoint device type{/codeListName} {codeListIdentifier}TDT{/codeListIdentifier} </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="TouchPointDeviceCodeType">
    <xs:annotation>
      <xs:documentation>Touch Point Device Code BDT.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="cns:TouchPointDeviceCodeContentType"/>
  </xs:simpleType>
</xs:schema>