ndc_schemas/21.3.5/PaymentClearanceRQ/IATA_PaymentClearanceRQ.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.iata.org/IATA/2015/00/2021.3/IATA_PaymentClearanceRQ" xmlns:cns="http://www.iata.org/IATA/2015/00/2021.3/IATA_PaymentClearanceCommonTypes" elementFormDefault="qualified" targetNamespace="http://www.iata.org/IATA/2015/00/2021.3/IATA_PaymentClearanceRQ" version="2.000">
  <xs:import namespace="http://www.iata.org/IATA/2015/00/2021.3/IATA_PaymentClearanceCommonTypes" schemaLocation="IATA_PaymentClearanceRQ_CommonTypes.xsd"/>
  <xs:element name="IATA_PaymentClearanceRQ">
    <xs:annotation>
      <xs:documentation>the request to start the clearance for the amount agreed during the ordering process. This message is always sent by Offer Responsible Airline (ORA) to the clearance platform.
This clearance related message is about the flow of money and it cannot, under any circumstances, be used, treated or considered as legal invoice.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence minOccurs="1">
        <xs:element maxOccurs="unbounded" minOccurs="1" name="Clearance" type="cns:ClearanceRequestType">
          <xs:annotation>
            <xs:documentation>the delivery of funds from one party - payer- to another party - the payee - to fulfil contractual obligations, i.e. commitment between the two parties.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element maxOccurs="1" minOccurs="1" name="ClearanceCount" type="cns:CountType">
          <xs:annotation>
            <xs:documentation>count of the clearances that are transmitted in a batch.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element maxOccurs="1" minOccurs="0" name="PayloadStandardAttributes" type="cns:IATA_PayloadStandardAttributesType">
          <xs:annotation>
            <xs:documentation>The IATA_PayloadStdAttributes defines the standard attributes that appear on the root element for all IATA payloads.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>