ndc_schemas/24.4/OrderViewRS/IATA_OrderViewRS.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.iata.org/IATA/2015/EASD/00/IATA_OffersAndOrdersMessage" xmlns:cns="http://www.iata.org/IATA/2015/EASD/00/IATA_OffersAndOrdersCommonTypes" elementFormDefault="qualified" targetNamespace="http://www.iata.org/IATA/2015/EASD/00/IATA_OffersAndOrdersMessage" version="12.004">
  <xs:import namespace="http://www.iata.org/IATA/2015/EASD/00/IATA_OffersAndOrdersCommonTypes" schemaLocation="IATA_OrderViewRS_CommonTypes.xsd"/>
  <xs:element name="IATA_OrderViewRS">
    <xs:annotation>
      <xs:documentation>The OrderCreate/ OrderView transaction is a multi-function message that may:
1) Request specified inventory to be held (and returns a reference to the held inventory)
2) Request that an order to be created (returning the complete view of the Order)
3) Request additions to order data elements (e.g. add frequent flyer data)</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:choice maxOccurs="1" minOccurs="1">
          <xs:element maxOccurs="unbounded" minOccurs="1" name="Error" type="cns:ErrorType">
            <xs:annotation>
              <xs:documentation>Contains information related to errors detected during processing of the preceding request.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="1" name="Response" type="cns:OrderViewResponseType">
            <xs:annotation>
              <xs:documentation>Order View response information.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:choice>
        <xs:element maxOccurs="1" minOccurs="0" name="AugmentationPoint" type="cns:AugmentationPointType">
          <xs:annotation>
            <xs:documentation>Implementer-Augmented Structure.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element maxOccurs="1" minOccurs="0" name="DistributionChain" type="cns:DistributionChainType">
          <xs:annotation>
            <xs:documentation>An instance of a distribution channel. That is, the set of organizations involved in the development of the current transaction.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element maxOccurs="1" minOccurs="0" name="PayloadAttributes" type="cns:IATA_PayloadStandardAttributesType">
          <xs:annotation>
            <xs:documentation>IATA Standard Payload Attributes</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="PaymentFunctions" type="cns:PaymentFunctionsOrderType">
          <xs:annotation>
            <xs:documentation>Information related to the settlement of a transaction through monetary or other compensations. For example, a payment may be applied to an entire Order or individual Order Items.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>